@media (max-width: 900px){
    .blogs-main-new{
        grid-template-columns: 1fr;
        grid-template-rows: 60px 2fr 1fr;
        width: 100%;
    }
    .blogs-main-new h3{
        align-self: center;
        justify-self: center;
        margin: 2px;
    }
    .blogs-news-img-container{
        grid-row: 2 / 3;
        grid-column: 1 / 2;
    }
    .blogs-news-img-container img{
        width: 100%; 
    }
    .blogs-new-info-container{
        grid-row: 3 / 4;
        grid-column: 1 / 2;    
    }
    .blogs-posts-container div{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }
    .projects-container-list{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .profile-container{
        padding: 0 120px;
    }
}